p {
  font-family: Lato;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div {
  width: 300px;
  height: 300px;
  border: 3px groove red;
}

/* [intentocolor] {
  background-color: RoyalBlue;
} */
